.place__image {
    width: 49%;
    height: 49%;
    margin-top: 5%; 
}

@media (max-width: 768px) {
.place__image {
    width: 100%;
}

}
@media (min-width: 768px) and (max-width: 1024px) {
.place__image {
    width: 49%;
    height: 49%;
    margin-top: 5%; 
}
}