.lead__subtitle {
    margin: 0;
    margin-top: 2.5%;
    margin-bottom: 7.5%;
    width: 100%;
    font-size: 30px;
    line-height: 36px;
}



@media (max-width: 768px) {
.lead__subtitle {
    margin: 0;
    margin-top: 3%;
    margin-bottom: 10%;
    width: 94%;
    font-size: 16px;
    line-height: 20px;
}

}
@media (min-width: 768px) and (max-width: 1024px) {

.lead__subtitle {
    margin: 0;
    margin-top: 2.5%;
    margin-bottom: 10%;
    width: 90%;
    font-size: 30px;
    line-height: 36px;
}

}