@media (max-width: 768px) {
.footer__copyright {
    font-size: 14px;
    line-height: 14px;
}
}

@media (min-width: 768px) and (max-width: 1024px) {

.footer__copyright {
    margin-left: 7.5%;
    font-size: 14px;
    line-height: 16px;
}
}
@media (min-width: 1024px) and (max-width: 1280px) {

.footer__copyright {
    margin-left: 15%;
    font-size: 14px;
    line-height: 16px;
}
}
@media (min-width: 1280px) {

.footer__copyright {
    margin-left: 30%;
    font-size: 14px;
    line-height: 16px;
}
}